body {
  font-family: Arial, sans-serif;
}

#container {
  width: 1000px;
  margin: 15px auto;
}

.lbl {
  font-size: 15px;
  font-weight: bold;
}

#omise_name {
  margin-right: 45px;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

#mode {
    padding: 11px 0 2px 3px;
    vertical-align: middle;
    margin-bottom: 30px;
}

input#tanto {
  width: 80px;
  height: 20px;
  margin-bottom: 20px;
}

input#ymd {
  width: 80px;
  height: 20px;
  margin-bottom: 20px;
}

input#omise_cd {
  width: 80px;
  height: 20px;
  margin-bottom: 20px;
}

input#sir_cd {
  width: 80px;
  height: 20px;
  margin-bottom: 20px;
}

#head1 {
  margin-bottom: 10px;
}

.lease {
  margin-top: 20px;
}

#headergo {
  width: 70px;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
}

#go {
  width: 120px;
  height: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: blue;
  color: #ccc;
  cursor: pointer;
}


.meisai {
  margin-top: 20px;
}

#jyodai {
  width: 80px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#gedai {
  width: 80px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 20px;

}

#siire {
  width: 80px;
  height: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

li span {
  font-size: 12px;
  display: inline-block;
/*   margin-left: 10px; */
}

.col1 {
    width: 50px;
}

.col2 {
    width: 60px;
}

.col3 {
    width: 30px;
}

.col4 {
    width: 150px;
}

.col5 {
    width: 30px;
}

.col6 {
    width: 150px;
}

.col7 {
    width: 100px;
}

.col8 {
    width: 100px;
}

.col9 {
    width: 70px;
    text-align: right;
}

.col10 {
    width: 70px;
    text-align: right;
}

.col11 {
    width: 70px;
    text-align: right;
}

.col12 {
    width: 100px;
}

/* .col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12 {
    border-style: solid;
    border-width: 1px;
    border-color: red;
} */



.hensyu {
  margin-left: 30px;
  color: blue;
  cursor: pointer;
}

.delete {
  margin-left: 10px;
  color: red;
  cursor: pointer;
}
